---
#------------------------------------------------------------------------------
# iquota api base url
#------------------------------------------------------------------------------
iquota_url: "http://localhost"

#------------------------------------------------------------------------------
# iquota cert
#------------------------------------------------------------------------------
# iquota_cert: "/path/to/cert"
...
