---
#------------------------------------------------------------------------------
# Webserver port to lisen on
#------------------------------------------------------------------------------
port: 8080

#------------------------------------------------------------------------------
# Webserver interface to lisen on
#------------------------------------------------------------------------------
bind: "127.0.0.1"

#------------------------------------------------------------------------------
# SSL certificate 
#------------------------------------------------------------------------------
# cert: "/path/to/cert"

#------------------------------------------------------------------------------
# SSL private key 
#-------------------------------------------------------------------
# key: "/path/to/key"

#------------------------------------------------------------------------------
# Keytab file for Kerberos server-side authentication
#------------------------------------------------------------------------------
keytab: "/path/to/http.keytab"

#------------------------------------------------------------------------------
# OneFS API Hostname
#------------------------------------------------------------------------------
onefs_host: "localhost"

#------------------------------------------------------------------------------
# OneFS API Port
#------------------------------------------------------------------------------
onefs_port: 8080

#------------------------------------------------------------------------------
# OneFS API Username
#------------------------------------------------------------------------------
onefs_user: "user"

#------------------------------------------------------------------------------
# OneFS API Password
#------------------------------------------------------------------------------
onefs_pass: "pass"

#------------------------------------------------------------------------------
# OneFS API Cert
#------------------------------------------------------------------------------
# onefs_cert: "/path/to/cert"

#------------------------------------------------------------------------------
# Unix admin group (allowed to view quota for any user/group)
#------------------------------------------------------------------------------
# admin_group: "wheel"

#------------------------------------------------------------------------------
# Enable caching via redis
#------------------------------------------------------------------------------
enable_cache: false

#------------------------------------------------------------------------------
# Redis server (used for cache)
#------------------------------------------------------------------------------
# redis: ":6379"

#------------------------------------------------------------------------------
# The expire time in seconds for the cache
#------------------------------------------------------------------------------
# cache_expire: 500
...
