---
#------------------------------------------------------------------------------
# Webserver port to lisen on
#------------------------------------------------------------------------------
port: 8080

#------------------------------------------------------------------------------
# Webserver interface to lisen on
#------------------------------------------------------------------------------
bind: "127.0.0.1"

#------------------------------------------------------------------------------
# SSL certificate 
#------------------------------------------------------------------------------
# cert: "/path/to/cert"

#------------------------------------------------------------------------------
# SSL private key 
#-------------------------------------------------------------------
# key: "/path/to/key"

#------------------------------------------------------------------------------
# Keytab file for Kerberos server-side authentication
#------------------------------------------------------------------------------
keytab: "/path/to/http.keytab"

#------------------------------------------------------------------------------
# Prefix to user home directories
#------------------------------------------------------------------------------
home_dir: "/home"

#------------------------------------------------------------------------------
# Unix users and/or groups (allowed to view all quotas)
#------------------------------------------------------------------------------
# admins:
#    - wheel
#    - sysadmin
#    - username

#------------------------------------------------------------------------------
# Enable caching via redis
#------------------------------------------------------------------------------
enable_cache: false

#------------------------------------------------------------------------------
# Redis server (used for cache)
#------------------------------------------------------------------------------
# redis: ":6379"

#------------------------------------------------------------------------------
# The expire time in seconds for the cache
#------------------------------------------------------------------------------
# cache_expire: 500

#------------------------------------------------------------------------------
# The expire time in seconds for negative queries
#------------------------------------------------------------------------------
# neg_cache_expire: 86400
...
